<section class="banner" style="background-image: url(../images/dist/банер\ 1.avif);"  data-aos="fade" data-aos-duration="300" data-aos-delay="200">
    <div class="container container-relative">
        <div class="banner-text-block" data-aos="fade-left" data-aos-duration="300" data-aos-delay="400">
            <h4 class="banner-text-block__title">Встречайте весну
                вместе с нами</h4>
            <p class="banner-text-block__text">Попробуйте новую коллекцию ухаживающих средств для лица с SPF защитой</p>
            <button class="banner-text-block__btn btn" type="button" id="btn">Подробнее</button>
        </div>
    </div>
</section>