<section class="history" style="background-image: url(../images/dist/600693-PMYQNV-922\ 1.avif);" data-aos="width-animation" data-aos-duration="500" data-aos-delay="400">
    <div class="container">
        <div class="history-text-block" data-aos="fade-down" data-aos-duration="700" data-aos-delay="800">
            <h2 class="history-text-block__title">“Мы стремимся сделать уход за кожей доступным
                и приятным ритуалом для всех, кто хочет
                заботиться о себе и своем теле”  
            </h2>
            <button class="history-text-block__btn btn" data-aos="fade-left" data-aos-duration="700" data-aos-delay="800" type="button" id="btn">Наша история</button>
        </div>
    </div>
</section>