[data-aos="width-animation"] {
    opacity: 0;
    transform: translateX(-100%);
    transition-property: transform, opacity;
  
    &.aos-animate {
        transform: translateX(0%);
        opacity: 1;
    }
}

[data-aos="width-animation-rev"] {
    opacity: 0;
    transform: translateX(100%);
    transition-property: transform, opacity;
  
    &.aos-animate {
        transform: translateX(0%);
      opacity: 1;
    }
}

[data-aos="height-animation"] {
  opacity: 0;
  transform: translateY(150%);
  transition-property: transform, opacity;

  &.aos-animate {
      transform: translateY(0%);
    opacity: 1;
  }
}


