$text-family: 'M PLUS 1p';
$title-family: 'Raleway';

$bg-color:#F8F8F6;
$primary-color:#122947;
$border-color-btn:#B3BAC1;
$swiper-color-text:#9A9DA0;
$radio-border:#CDCDCD;
$grad-color-1:#d3dd99;
$grad-color-2:#9e8d42;

$mobile:720px;